<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="formholder">
    <form class='form' action="/" method="POST">
          <!-- Mode of Transportation -->
          <p class="instructions">I am riding a:</p>
          <input type="radio" checked="checked" name="radio" id='bus' value='bus'>
          <input type="radio" name="radio" id='train' value='train'>
          
          <!-- Phone Number -->
          <p class="instructions">Phone Number:</p>
          <input name="phone" type="tel" pattern="+1[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="+1(XXX)XXX-XXXX">

          <!-- Destination -->
          <p class="instructions">Phone Number:</p>
          <input name="dest" type="text" placeholder="777 Baltimore Ave, College Park, MD">

          <!-- Submit -->
          <button type="submit">Submit</button>
    
    </form>



  </div>

</body>

</html>
